<!DOCTYPE html>
<html lang="en" th:replace="~{base :: parent(~{::#content},~{::title},~{::script})}">
<head>
  ent="width=device-width, initial-scale=1.0">
    <title>Home</title>
  
    </head>
    
    <body>
        <div class="flex-col justify-center " id="content">
            <div  ><h4 data-th-text="${email}" class="font-bold">Welcome to home page!</h4></div>
            <div>
                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Suscipit unde ea totam        nesciunt ad veniam vel
                    iste optio tempore nihil, adipisci, commodi recusandae fuga saepe. Vitae, ipsum sint. Quo, sunt?</p>
            </div>
        </div>
        <!-- Flow bit content check -->
         <!-- Changes -->
             <script>
             console.log("Home page");
             </script>

    </body>
    
    </html>